{
  "presets": [
    "react",
    "latest"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}