{
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "extends": [
    "prettier/react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "off",
    "react/jsx-sort-props": 1
  },
  "plugins": [
    "react",
    "prettier"
  ]
}